---
redirect_from: /index.php/
news:
- name: Tempus
  image: tempus.png
  date: Fri. Feb 27th, 10:00 pm
  title: Official Localization
  content: |
      <p>Welcome to Tales of Graces.com, the former site of the fan translation. The official localization of the game has been announced by Namco, so the project has been discontinued. Fans of the series should buy the game when it is released to ensure a future for Tales games in the West! You can still follow our Vesperia PS3 project as linked on the right.</p>

      <center><br />
      <a href="http://www.facebook.com/tales">Official Tales Facebook</a><br/><br/>
      <a href="http://twitter.com/Filthierich">Namco Community Twitter</a><br/><br/>
      <a href="http://ataleoftworichards.com/">Tales of Graces Teaser Site</a><br/>
      </center>
- name: Tempus
  image: tempus.png
  date: Fri. Feb 4th, 4:33 pm
  title: The End of an Era
  content: |
      <p>Approximately one week ago, Namco released a <a href="http://www.ataleoftworichards.com/">teaser</a> website that hinted at the release of Tales of Graces f, for the PS3. Since then, the team has been having many heated discussions over the state of our translation. As of Feb 2nd, Tales of Graces was officially revealed, though no details or dates have been announced yet.</p>
      <p>It is our decision at this time that we intend to drop the translation of Tales of Graces, both the Wii and the PS3 version. We are sad that literally thousands of hours of work will be lost, but we are agreed in that we all want to see Tales of Graces succeed here. The better it sells, the more Tales games Namco will bring over in the future, and the less fan translations will even be needed. We all feel that Namco's latest Tales translations have been of good quality, and we would like to support it as much as we can.</p>
      <p>So, to make this clear.</p>
      <br><b><p>We respect Namco's right to their own game and translation.
      <br><p>We are not releasing any of our translations.
      <br><p>We will not be releasing our private tools.
      <br><p>Any currently released files will remain available.
      <br><p>We will be continuing Tales of Vesperia.</b>
      <br/><br/>
      <p>Lastly, we are evaluating other possibilities to ways we can promote Tales of Graces and increase sales. We are looking into the possibility and efficacy of a Wii demo, and potentially other promotional material, but you shouldn't expect any further details until closer to the (currently unannounced) release date.</p>
      <p>We thank all of you for your support, and hope that you purchase the game upon its release. Please continue to follow our Tales of Vesperia translation in the future! Vesperia will begin progress again today, and should be back up to speed once the engine's revved up.</p>
---
{% include header.htm %}

<body>
&nbsp;

{% include nav.htm %}

<div class="column-B">

    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="/"><img alt="home" src="images/Logo.png"></a>
    </div>

	{% for news in page.news %}
		<div class="content-B">
			<div class="avatar"><img src="/images/{{ news.image }}" /><p>{{ news.name }}</p></div>
			<div class="title">
				<div class="titlename">{{ news.title }}</div>
				<div class="titledate">{{ news.date }}</div>
			</div>
			<br />
			{{ news.content }}
			<div class="hbar">&nbsp;</div>
		</div>
	{% endfor %}

<div style="float: right; padding: 0px 20px 20px 0px; font-size: 1.4em;">
	<a href="/news.htm">Older News</a>
</div>

</div>


<div class="rotator">
    <img src="images/Rotator.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Graces Fan Translation website. Our translation was halted due to an official localization announcement. Please purchase the game when it is released.</p><p>The translation project ended after 8 months and a couple thousand hours work. Initial translation was at 89.5%, translation verification was at 18.2%, and editing was at 4.1%.</p>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Purchase Links</h3>
    <p>The translation team gets a small portion of any sales made through these links.</p>
    <p>THESE LINKS ARE FOR THE JP IMPORTS ONLY. The official Namco localized version has been announced, but has not yet been released. We recommend purchasing the US version when it is released, rather than the JP versions below.</p>
    <ul>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-bp-49-en-84-j-70-40ih.html" title="">Tales of Graces F (Limited)</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-bp-49-en-84-j-70-3ze6.html" title="">Tales of Graces F (JP)</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-bp-49-en-84-j-70-3zvn.html" title="">Tales of Graces F (Asian)</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-z3-49-en-84-j-70-3lhc.html" title="">Tales of Graces Wii</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-8l-49-en-84-j-70-3osc.html" title="">Tales Of Graces OST</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-lz-49-en-84-j-70-3pya.html" title="">Tales of Graces Strategy Guide</a>
</li>
    <li><a href="http://www.play-asia.com/SOap-23-83-jr9o-71-9x-49-en-84-j-70-3srz.html" title="">Tales Of Graces Drama CD</a>
</li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Released Downloads</h3>
    <ul>
    <li>Tales of Graces F Demo Patch</li>
    <li>ToGF Demo Wallpaper</li>
    <li>Efinea Font</li>
    </ul>
    </div>
</div>

</body>
</html>
