---
redirect_from: /irc.php/
---
{% include header.htm %}

<body>
&nbsp

{% include nav.htm %}

<div class="column-B">
    <div style="margin-left:auto; margin-right:auto; text-align:center;" class="content-B">
        <a href="/"><img alt="home" border='0' src="images/Logo.png"></a>
    </div>
    <div class="content-B">
    <iframe style="width:99%; margin-bottom:24px;" src="http://webchat.freenode.net?channels=Graces&uio=MTE9MjI2dd" width="647" height="600"></iframe>
    <p style="text-align: center;">IRC Chat at #Graces on <a href="irc://irc.freenode.net/Graces">irc.freenode.net</a><p>

    </div>
</div>

<div class="rotator">
    <img src="images/Rotator.png">
</div>

<div class="column-A">
    <div class="content-A">
<!--    <f>Animation: <a>On</a> | <a>Off</a></f> -->
    <h3>About</h3>
    <p>Welcome to the Tales of Graces Fan Translation website. Our translation was halted due to an official localization announcement. Please purchase the game when it is released.</p><p>The translation project ended after 8 months and a couple thousand hours work. Initial translation was at 89.5%, translation verification was at 18.2%, and editing was at 4.1%.</p>
    </div>
    <div class="sidebar">&nbsp</div>
    <div class="content-A">
    <h3>Active Team Members</h3>
    <ul>
    <li>Tempus - Director</li>
    <li>Aaron - Lead Coder</li>
    <li>Ruta - Lead Translator</li>
    <li>Jazzysan - Translator</li>
    <li>throughhim413 - TL Check</li>
    <li>Pikachu025 - Vesperia Coder</li>
    <li>DragonSamurai55 - Vesperia</li>
    <li>gbfct - Programmer</li>
    <li>Kennoko - Translator</li>
    <li>LunaHoshino - Translator</li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
    <div class="content-A">
    <h3>Inactive Members</h3>
    <ul>
    <li>bluesun - Translator</li>
    <li>Phenie - Translator</li>
    <li>PacoChan - Programmer</li>
    <li>Kalessin - Translator</li>
    <li>Kiri-tan/Killicy - Translator</li>
    <li>DRayX7 - Programmer</li>
    <li>RenDG/DarkKamonG - Programmer</li>
    <li>Kurbeh - Translator</li>
    <li>sweetimpact - Translator</li>
    </ul>
    </div>
    <div class="sidebar">&nbsp;</div>
</div>

</body>
</html>

